header {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center; /* Align items in the center to make them fall on the same line */
}

.App-logo {
  max-width: 100%; /* Make the logo little */
  height: auto;
  pointer-events: none;
  position: relative; /* Change position to relative */
  padding: 50px; /* Much more padding for the logo */
  color: 343434; /* Color from the Figma design */
}

header nav {
  position: relative; /* Change position to relative */
  padding: 10px; /* Padding for the nav menu */
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Padding for the nav menu */
}

header nav ul li a {
  text-decoration: none;
  color: #343434; /* Color for the nav menu links */
  font-size: 26.84px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 60px; /* Font size for the nav menu links */
}
  .body_here h2{
    background: linear-gradient(90deg, #6100FF 5.93%, #AD00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Open Sans;
    font-size: 35.087px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.105px;
  }
  .body_here h1{
    color: #343434;
    text-align: center;
    font-family: Open Sans;
    font-size: 47.128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 2.828px;
    align-self: stretch;
  }

  .body_here{
    color: #343434;
    text-align: center;
    align-items: center;
    font-family: Open Sans;
    font-size: 47.128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.828px;
  }
  .body_here p{
    color: #343434;
    text-align: center;
    font-family: Open Sans;
    font-size: 18.775px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.126px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .connect{
    display: flex;
    justify-content: center;
    padding:5rem;
  }

  .connect a{
    border-radius: 50px;
    background: linear-gradient(96deg, #6101FF 0%, #A601FF 98.31%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top:20px;
    padding-bottom:20px;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;

  }
@media screen and (max-width: 600px) {
  .body_here h2{
    font-family: Open Sans;
    font-size: 13.24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.794px;
  }

  .body_here h1{
    color: #343434;
    text-align: center;
    font-family: Open Sans;
    font-size: 24.001px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
  }

.body_here p{
  color: #343434;
  text-align: center;
  font-family: Open Sans;
  font-size: 9.624px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.577px;
  padding-left: 100px;
  padding-right: 100px;
}
  header {
    flex-direction: column;
  }

  header .logo {
    position: static;
  }

  header nav {
    position: static;
    width: 100%; /* Full width for the nav menu on small screens */
  }
  header nav ul li a {
    text-decoration: none;
    color: #343434; /* Color for the nav menu links */
    font-size: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px; /* Font size for the nav menu links */
  }
  .connect{
    display: flex;
    justify-content: center;
    padding:5rem;
  }

  .connect a{
    border-radius: 50px;
    background: linear-gradient(96deg, #6101FF 0%, #A601FF 98.31%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;

  }
}

